# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/
Foo/
mRobotArm_PickAndPlace_ert_rtw/

# Matlab code generation folders
codeDir/
cacheDir/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc
*.original
*.eep
*.hex
*.elf

# Simulink 3D Animation
*.wrl.*

# Hidden files
.*
!/.gitignore
